.select-date-container {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.select-date {
  font-size: 2em;
  margin-top: 64px;
}

.date-selector {
  font-size: 2em;
  margin-top: 64px;
  margin-bottom: 64px;
}