$main-background: #25274D;
$button-background: #464866;
$overlook-gray: #AAABB8;
$username-white: #f3f3f3;
$accent-red: #78244C;
$accent-green: complement($accent-red);

$title-font: 'Montserrat', sans-serif;
$main-font: 'Noto Sans TC', sans-serif;